__pycache__
/build
/dist
/imgRotatedBase.png
/afterL.png
/afterLA.png
/afterR.png
/afterRA.png
/and.png
/imgFinal.png
__pycache__/arucoSize.cpython-311.pyc
__pycache__/lecaloUtils.cpython-311.pyc
__pycache__/lekaloConture.cpython-311.pyc
__pycache__/lekaloDraw.cpython-311.pyc
__pycache__/lekaloFilter.cpython-311.pyc
__pycache__/lekaloMain.cpython-311.pyc
__pycache__/lekaloSvg.cpython-311.pyc
